.snakemake/
scripts/.snakemake*
snakemake.err
snakemake.log
rulegraph.svg
dag.svg
Rplots.pdf
logs/*
localrun.sh

figure1/
figure2/
figure3/
figure4/
figure5/
figure6/
supp_tables/

spt6_2018_main_figures.*
!spt6_2018_main_figures.tex
spt6_2018_supp_figures.*
!spt6_2018_supp_figures.tex

!logs/.gitkeep
